body {
  font-family: "Slabo 27px", serif;
  margin-left: 0;
  margin-right: 0;
}

nav {
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-logo {
  height: 50px;
  width: 50px;
  margin-left: 40px;
}

.logo {
  width: 100%;
  height: auto;
}

.contenedor-hamburguesa {
  height: 40px;
  width: 40px;
}

.hamburguesa {
  width: 100%;
  height: auto;
  display: none;
}

.open {
  color: tomato;
  display: flex;
  margin-right: 40px;
}

li {
  list-style: none;
  flex-direction: row;
  margin: 10px;
}
div.padre {
  display: flex;
  justify-content: center;

  margin-top: 40px;
  margin-bottom: 40px;
}
div.imagen {
  width: 800px;
  height: 300px;
}

.banner {
  width: 100%;
  height: auto;
}

.que-somos-cont {
  background-color: gainsboro;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.flechas-div {
  height: 75px;
  width: 100px;
}

.flechas {
  height: auto;
  width: 100%;
}

.que-somos {
  width: 800px;

  padding-left: 20px;
}

h1 {
  color: orangered;
  font-size: 30px;
  margin: 0;
}

p {
  margin: 0;
}

.link-git {
  width: 120px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkedin-div {
  width: 50px;
  height: 50px;
}

.linkedin {
  height: auto;
  width: 100%;
}

.git-hub-div {
  width: 45px;
  height: 45px;
}

.github {
  height: auto;
  width: 100%;
}

.florencia-mobile {
  display: none;
}

.desarroladora-mobile {
  display: none;
}

.foto1 {
  width: 120px;
  height: 120px;
}

#foto1 {
  width: 100%;
  height: auto;
}

.piba1 {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-between;
}

.flo-des {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.natalia-mobile {
  display: none;
}

.desarroladora2-mobile {
  display: none;
}

.foto2 {
  width: 120px;
  height: 120px;
}

#foto2 {
  width: 100%;
  height: auto;
}

.piba2 {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-between;
}

.nat-des2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mariela-mobile {
  display: none;
}

.desarroladora3-mobile {
  display: none;
}

.foto3 {
  width: 120px;
  height: 120px;
}

#foto3 {
  width: 100%;
  height: auto;
}

.piba3 {
  display: flex;
  width: 250px;
  flex-direction: row;
  justify-content: space-between;
}

.mar-des3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pibas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
}

.titulos {
  text-align: center;
  color: orangered;
}

.cargo {
  text-align: center;
  color: orangered;
}

.contenedor-foot {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 10px;
}

.correo {
  color: orangered;
}

.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.face-tw-ing {
  display: flex;
  justify-content: space-around;
  width: 120px;
}

.sobre {
  height: 30px;
  width: 30px;
}

.img-sobre {
  height: auto;
  width: 100%;
}

.face {
  height: 30px;
  width: 30px;
}

.img-face {
  height: auto;
  width: 100%;
}

.ing {
  height: 30px;
  width: 30px;
}

.img-ing {
  height: auto;
  width: 100%;
}

.tw {
  height: 30px;
  width: 30px;
}

.img-tw {
  height: auto;
  width: 100%;
}

@media (max-width: 600px) {
  nav {
    justify-content: space-between;
    height: 70px;
  }

  .open {
    display: none;
  }

  .hamburguesa {
    display: block;
    margin-left: 130px;
  }

  div.imagen {
    height: 199px;
  }

  div.padre {
    margin-bottom: 0;
  }

  .flechas-div {
    display: none;
  }

  .que-somos {
    margin-left: 10px;
    margin-right: 25px;
  }

  .link-git {
    display: none;
  }

  .pibas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }

  .titulos {
    display: none;
  }

  .cargo {
    display: none;
  }

  .piba1,
  .piba2,
  .piba3 {
    width: 120px;
  }

  .florencia-mobile,
  .desarroladora-mobile,
  .natalia-mobile,
  .desarroladora2-mobile,
  .mariela-mobile,
  .desarroladora3-mobile {
    display: block;
    background-color: gainsboro;
    padding: 5px;
    border-radius: 5px;
  }

  .florencia-mobile,
  .natalia-mobile,
  .mariela-mobile {
    margin-bottom: -50px;
    z-index: 2;
  }

  .desarroladora-mobile,
  .desarroladora2-mobile,
  .desarroladora3-mobile {
    margin-top: -50px;
    z-index: 2;
  }

  .contenedor-foot {
    display: flex;
    flex-direction: column;
  }
}
